In [ ]:
# !pip install sqlite3
# !pip install time
# !pip install psutil
# !pip install os
# !pip install tqdm

In [17]:
import sqlite3
import time
import psutil
import os
from tqdm import tqdm
import pandas as pd
import numpy as np

In [19]:
nm_banco_dados = "sqlite_database.bd"

try:
    connection = sqlite3.connect(nm_banco_dados)

    df_insert_results = pd.read_sql_query("select * from t_sqlite_insert_results", con=connection)
    df_size_results = pd.read_sql_query("select * from t_sqlite_size_results", con=connection)
    print('Consulta ao banco de dados realizada')
except Exception as e:
    print("Erro: ", e)
finally:
    connection.close()
    print("connection closed")

Consulta ao banco de dados realizada
connection closed

In [21]:
df_insert_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20870 entries, 0 to 20869
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20870 non-null  int64
 1   time          20870 non-null  float64
 2   memori        20870 non-null  float64
 3   cpu           20870 non-null  float64
 4   nr_registros  20870 non-null  int64
 5   method        20870 non-null  object
 6   commit_type   20870 non-null  object
dtypes: float64(3), int64(2), object(2)
memory usage: 1.1+ MB

In [22]:
df_size_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28334 entries, 0 to 28333
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              28334 non-null  int64
 1   time            28334 non-null  float64
 2   memori          28334 non-null  float64
 3   cpu             28334 non-null  float64
 4   nr_registros    14167 non-null  float64
 5   method          28334 non-null  object
 6   commit_type     14167 non-null  object
 7   data_base_size  14167 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.7+ MB